<html>
    <head>
        <title>Ola</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My first blog</a></h1>
        </div>

        <div>
            <p>published: 14.07.2020, 17:05</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>teste</p>
        </div>
        
        <div>
            <p>published: 14.07.2020, 17:05</p>
            <h2><a href="">meu segundo post</a></h2>
            <p>novo teste</p>
        </div>
        
    </body>
</html>