<html>
    <head>
        <title>Ola</title>
    </head>
    <body>
        <div>
            <h1><a href="/"><em>My first blog :)</em></a></h1>
        </div>

        <div>
            <p>publicado: 12.07.2020, 20:10</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Hi there!</p>
        </div>

        <div>
            <p>publicado: 12.07.2020, 20:10</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>It works!</p>
        </div>
    </body>
</html>